<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>- Home Week 2 - Radio Frequency I.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>508996016.254242</real>
				<key>lastModification</key>
				<real>508996016.254242</real>
				<key>version</key>
				<dict>
					<key>796c790478b44ba3540175de28d9fdca8635b50bcff12d046f0f7ec88fbf9c50</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>- Week 1 - Introduction to Wireless Technology Week 3 - Radio Frequency II.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>508996016.26020199</real>
				<key>lastModification</key>
				<real>508996016.26020199</real>
				<key>version</key>
				<dict>
					<key>796c790478b44ba3540175de28d9fdca8635b50bcff12d046f0f7ec88fbf9c50</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>- Week 11 - Wireless PAN I Week 15 - Satellite Communications &amp; GPS.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>508996016.34813702</real>
				<key>lastModification</key>
				<real>508996016.34813702</real>
				<key>version</key>
				<dict>
					<key>796c790478b44ba3540175de28d9fdca8635b50bcff12d046f0f7ec88fbf9c50</key>
					<integer>18</integer>
				</dict>
			</dict>
			<key>- Week 11 - Wireless PAN II Week X (WIP).md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>508996016.35364699</real>
				<key>lastModification</key>
				<real>508996016.35364699</real>
				<key>version</key>
				<dict>
					<key>796c790478b44ba3540175de28d9fdca8635b50bcff12d046f0f7ec88fbf9c50</key>
					<integer>19</integer>
				</dict>
			</dict>
			<key>- Week 2 - Radio Frequency I Week 4 - Wireless LAN I.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>508996016.27277702</real>
				<key>lastModification</key>
				<real>508996016.27277702</real>
				<key>version</key>
				<dict>
					<key>796c790478b44ba3540175de28d9fdca8635b50bcff12d046f0f7ec88fbf9c50</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>- Week 3 - Radio Frequency II Week 6 - Wireless LAN II.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>508996016.28751701</real>
				<key>lastModification</key>
				<real>508996016.28751701</real>
				<key>version</key>
				<dict>
					<key>796c790478b44ba3540175de28d9fdca8635b50bcff12d046f0f7ec88fbf9c50</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>- Week 4 - Wireless LAN I Week 7 - Wireless Security.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>508996016.29837102</real>
				<key>lastModification</key>
				<real>508996016.29837102</real>
				<key>version</key>
				<dict>
					<key>796c790478b44ba3540175de28d9fdca8635b50bcff12d046f0f7ec88fbf9c50</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>- Week 6 - Wireless LAN II Week 11 - Wireless PAN I.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>508996016.313016</real>
				<key>lastModification</key>
				<real>508996016.313016</real>
				<key>version</key>
				<dict>
					<key>796c790478b44ba3540175de28d9fdca8635b50bcff12d046f0f7ec88fbf9c50</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>- Week 7 - Wireless Security Week 11 - Wireless PAN II.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>508996016.33275503</real>
				<key>lastModification</key>
				<real>508996016.33275503</real>
				<key>version</key>
				<dict>
					<key>796c790478b44ba3540175de28d9fdca8635b50bcff12d046f0f7ec88fbf9c50</key>
					<integer>17</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>- Home Week 2 - Radio Frequency I.md</string>
		</array>
		<array>
			<string>- Week 1 - Introduction to Wireless Technology Week 3 - Radio Frequency II.md</string>
		</array>
		<array>
			<string>- Week 2 - Radio Frequency I Week 4 - Wireless LAN I.md</string>
		</array>
		<array>
			<string>- Week 3 - Radio Frequency II Week 6 - Wireless LAN II.md</string>
		</array>
		<array>
			<string>- Week 4 - Wireless LAN I Week 7 - Wireless Security.md</string>
		</array>
		<array>
			<string>- Week 6 - Wireless LAN II Week 11 - Wireless PAN I.md</string>
		</array>
		<array>
			<string>- Week 7 - Wireless Security Week 11 - Wireless PAN II.md</string>
		</array>
		<array>
			<string>- Week 11 - Wireless PAN I Week 15 - Satellite Communications &amp; GPS.md</string>
		</array>
		<array>
			<string>- Week 11 - Wireless PAN II Week X (WIP).md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>796c790478b44ba3540175de28d9fdca8635b50bcff12d046f0f7ec88fbf9c50</key>
			<integer>19</integer>
		</dict>
	</dict>
</dict>
</plist>
